#gaykit {
    display: block;
    margin: auto;
    width: 25%;
    height: auto;
}

.green_text {
    color: #0f0;
}

.hashtag {
    color: #0bf;
}

.red_span {
    background-color: #f00;
    color: #fff;
}